cred/*
.env
.git.nosync.noindex
.git
.venv.nosync.noindex
.venv
__pycache__/
.DS_Store
*.pyc
.github.nosync.noindex
.github/
.vscode
scratch
src/agents/prompts
docs
logs/*
*.backup


# Terraform files to ignore (under ./infra/):
# *.tfvars   # normally used to store sensitive variables, uncomment if needed
# *.tfstate  # generated state files, uncomment if needed
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
